.chevroni {
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  opacity: 70;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(209, 213, 219, 1);
}
