<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link href="/public/style/tail.css" rel="stylesheet" />
    <link
      href="https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body
    class="overflow-x-hidden"
    style="
      background: linear-gradient(90deg, #348097, rgba(64, 110, 124, 0.356));
    "
  >
    <div><%- body %></div>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      // if (localStorage.theme === "dark") {
      //   document.documentElement.classList.add("dark");
      // } else {
      //   document.documentElement.classList.remove("dark");
      // }
      // document.getElementById("ddf").addEventListener("click", (e) => {
      //   document.documentElement.classList.add("dark");
      // });
      // Whenever the user explicitly chooses light mode
      // localStorage.theme = "light";

      // Whenever the user explicitly chooses dark mode
      // localStorage.theme = "dark";

      // Whenever the user explicitly chooses to respect the OS preference
      // localStorage.removeItem("theme");
    </script>
  </body>
</html>
