<%- include('templatetest'); -%>

<body>
  <!-- <header class="header"></header> -->
  <% if(user.answerDataMBTI.length > 0){ %>
  <script>
    window.location.assign("/dashboard");
  </script>
  <% } else{ %> <% null %> <% } %>
  <div class="container" id="test-container">
    <div id="test" class="justify-center flex-column">
      <div class="question-container">
        <i style="font-size: 2.8rem; margin: 0.5rem" class="fa">&#xf022;</i>
        <h2 id="total-questions">/88</h2>
        <h2 id="question-number">1</h2>
        <h2 id="question">متن پرسش</h2>
      </div>

      <div class="choice-container">
        <p class="choice-prefix">1</p>
        <p class="choice-text" data-number="1" id="choice1"></p>
      </div>
      <div class="choice-container">
        <p class="choice-prefix">2</p>
        <p class="choice-text" data-number="2" id="choice2"></p>
      </div>
      <div id="bottomLine">
        <button class="btn" id="previousQuestionBtn">سؤال قبل</button>
        <div id="progressBar">
          <div id="progressBarFull"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <footer class="footer"></footer>-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../public/script/MBTI.js"></script>
</body>
