<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Test Page</title>
  <link rel="stylesheet" href="../public/style/test.css" />
  <link rel="stylesheet" href="../public/style/app.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css"
    rel="stylesheet"
    type="text/css"
  />
</head>
