<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>End Page</title>

  <style>
    #signPageHeader {
      margin-top: 5rem;
      margin-bottom: 2rem;
    }

    #signPage1 {
      margin-bottom: 4rem;
      font-size: 1.8rem;
    }

    #saveDataBtn {
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
  </style>
</head>
<div
  class="flex flex-row justify-between md:p-8 p-4 align-middle items-center bg-opacity-10 bg-gray-50"
>
  <div class="w-1/2">
    <img src="/public/logo.png" alt="logo" class="psylogo" width="60" />
  </div>
  <div class="flex flex-row justify-end w-1/2 space-x-7 md:text-3xl">
    <h1><a href="/about">درباره ما</a></h1>
    <h1><a href="/" class="text-bookgram-badge">خانه</a></h1>
  </div>
</div>
