<%- include('template'); -%>

<div class="container">
  <div id="home" class="flex-center flex-column">
    <h1 class="main-title">world test</h1>
    <a class="btn btn11_js" href="/users/login">ورود</a>
    <a class="btn btn22_js" href="/users/register">(ثبت نام (کاربر جدید</a>
  </div>
</div>
